  
services:
	-
		class: Utils\PHPStan\CheckUseStatementsAfterLicenseRule
		tags:
			- phpstan.rules.rule
	-
		class: Utils\PHPStan\CheckFrameworkExceptionInstantiationViaNamedConstructorRule
		tags:
			- phpstan.rules.rule


parameters:
	autoload_files:
		- index.php
	paths:
		- application
		- system
		- tests
